html {
	background-color: #E6E6FA;
	font-family: monospace, Monaco;

}
 
#website-title{
	text-align: center;
	color: #2F4F4F;
	z-index: 1;
	border: ridge;
	background-image: url(compass.jpg);


}
img {
	float: right;
	width: 20%;

}
nav{
	float:right;
	position: fixed;
	display: inline-block;
	color: #191970;
	width: 15%;
	padding: 5px;
	z-index: 1;
	margin-top: 25px;
	list-style-type: none;


}
div{
	width: 80%;
	display: inline-block;
	float: right;
	margin-top: 50px;
}
a:hover{
	color:#006666;
}

nav ul{
	list-style-type: none;
	float: right;	
}
nav li {
	display: inline;
	float: right;
}

@media only screen and (max-width: 500px){
	body{

	}
}