html {
	background-color: #E6E6FA;
	font-family: monospace, Monaco;

}
#website-title{
	text-align: center;
	color: #2F4F4F;
	z-index: 1;
	background-image: url(compass.jpg);


}
img {
	position: relative;
	width:	15%;
	z-index: -1;
	margin: auto;

}
nav{
	text-align: center;
	position: fixed;
	display: inline;
	color: #191970;
	width: 100%;
	padding: 10px;
	z-index: 1;

}

ul{
	list-style-type: none;	
}
li {
	display: inline;
}